* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

html,
body,
canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #000814;
    color: #fafafa;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; /*!emojicursor.app*/
    font-family: "Roboto Mono", monospace;
}

::selection {
    background: rgb(255, 9, 86);
    color: #2710f2;
}

canvas {
    opacity: 1;
    position: relative;
    transition: opacity 350ms ease;
    z-index: 0;
}

.container {
    position: absolute;
    z-index: 1;
    margin: 4rem auto;
    max-width: 1440px;
    padding: 1rem;
}

.header-section {
    max-width: 550px;
    margin-bottom: 48px;
}


h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 24px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 300px;
}

a {
    text-decoration: none;
    color: rgb(255, 9, 86);
    transition: color 350ms ease;
    font-weight: bold;
    text-transform:lowercase
}

a:hover, a:focus {
    color: #2710f2;
    text-transform:uppercase;
}

.github {
    color: #4dffff;
}
.linkedin {
    color: #5bf390;
}
.codepen {
    color: #ff4cff;
}
.goodreads {
    color: #6060ef;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    margin-bottom: 4px;
}

@media (min-width: 550px) {

    .container {
        padding-left: 2rem;
    }

    .header-section {
        margin-bottom: 64px;
    }

    h1 {
        font-size: 95px;
        margin-bottom: 36px;

    }

    h2 {
        font-size: 22px;
        max-width: 420px;
    }

}


.gradient-text {
    background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
    background-clip: text;
    background-position: 58% 50%;
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: gadientShift 45s ease infinite;
    -moz-animation: gadientShift 45s ease infinite;
    animation: gadientShift 45s ease infinite;
}



/* hotdog mode */
body.hotdog-mode {
    cursor: default;
    background-color: #fafafa;
    color: #000814;
}

body.hotdog-mode .github {
    color: #2710f2;
}
body.hotdog-mode .github:hover,
body.hotdog-mode .github:focus {
    color: #ff4cff;
}

body.hotdog-mode canvas {
    opacity: 0;
}

body.hotdog-mode a:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; !emojicursor.app
}



/* Animations */
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-webkit-keyframes gadientShift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gadientShift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gadientShift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* Toggler */
.mode-toggler {
    position: fixed;
    top: 5px;
    right: 20px;
}

.mode-toggler label {
    position: relative;
}

.mode-toggler input[type="checkbox"] {
    display: none;
}

.mode-toggler input[type="checkbox"] + label::before {
    content: "";
    display: block;
    height: 26px;
    width: 60px;
    background: transparent;
    border: 2px solid #fafafa;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: -65px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto;
}

.mode-toggler input[type="checkbox"] + label::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 2px solid #fafafa;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -62px;
    transition: all 0.4s ease-in;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto;
}

  .mode-toggler input[type="checkbox"]:checked + label::before {
    background: transparent;
    border: 2px solid #96979c;
   cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto;
}
  .mode-toggler input[type="checkbox"]:checked + label::after {
    left: -28px;
    background: #96979c;
    border: 2px solid  #fafafa;
    transition: all 0.4s ease-in;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto;
}
