* {
    box-sizing: border-box;
    margin: 0;
}

/* More info: https://bit.ly/2PsCnzk */
* + * {
    margin-top: 1rem;
  }

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #fff;
    color: #222;
    font-family: "Roboto Mono", monospace;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

::selection {
    background-color: rgb(255, 9, 86);
    color: #00ffff;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(255, 9, 86);
}

a:hover {
    font-weight: bold;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.container {
    margin: 2rem auto;
    max-width: 500px;
}

@media (max-width: 500px) {
    .container {
      padding: 1rem;
    }
}

.header-text {
    max-width: 350px;
}


.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(10px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.dark-mode-toggler {
    position: fixed;
    top: 5px;
    right: 20px;
}

.dark-mode-toggler label {
    position: relative;
}

.dark-mode-toggler input[type="checkbox"] {
    display: none;
}

.dark-mode-toggler input[type="checkbox"] + label::before {
    content: "";
    display: block;
    height: 26px;
    width: 60px;
    background: #fff;
    border: 2px solid rgb(255, 9, 86);
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: -65px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; /*!emojicursor.app*/

}

.dark-mode-toggler input[type="checkbox"] + label::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background: rgb(255, 9, 86);
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -62px;
    transition: all 0.4s ease-in;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; /*!emojicursor.app*/

}

  .dark-mode-toggler input[type="checkbox"]:checked + label::before {
    background: #000;
    border: 2px solid #fff;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; /*!emojicursor.app*/

}
  .dark-mode-toggler input[type="checkbox"]:checked + label::after {
    left: -28px;
    background: #000;
    border: 2px solid #fff;
    transition: all 0.4s ease-in;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌭</text></svg>") 16 0,auto; /*!emojicursor.app*/

}
